<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ships</title>
  </head>
  <body>
    <h1 class="title">Ships</h1>
    {% if ships %}
    <article class="cards">
      {% for ship in ships %}
      <div class="card">
        <img class="card-img" src="" alt="{{ ship.model }}" />
        <ul>
          <li>Model: {{ ship.model }}</li>
          <li>Make: {{ ship.make }}</li>
          <li>Year: {{ ship.year }}</li>
        </ul>
        {% if not forloop.last %}
        <hr />
        {% endif %}
      </div>
      {% endfor %}
    </article>
    {% else %}
    <p>No ships.</p>
    {% endif %}
  </body>
</html>
